body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "KA_LORTKIPANIDZE", sans-serif;
  background-color: #1E448A	;
}
.vote{
  text-align: center;
  color: #FDCB0B;
}

.modi{
  display: block;
  font-size: 12vw;
}

.europe{
  font-size: 6vw;
}